@charset "UTF-8";
/* welcome */
.welcome{background:#cbd3e2; box-sizing: border-box;}
.welcome > div{padding:0 30px; box-sizing: border-box; }
.welcome .b-border{width:100%; border-bottom:1px solid #3a3c44; box-sizing: border-box;}
.welcome h1{color:#3a3c44;}



/* develop */
.develop{background: rgb(58, 60, 68);}

